@media(max-height: 900px), (max-width: 500px){
    .slide{
        width: 100%;
        height: 650px;
    }

    .linhaTitulo{
        display: none;
    }
}

@media (max-width: 1302px){
    nav, section, .textoApresentacao, .divEcreva, .projeto, .sobreMin{
        width: 1080px;
    }

    .projet{
        width: 335px;
        min-height: 150px;
    }

    .imagemProject{
        width: 100%;
        height: 200px;
    }

    .divEcrevaC{
        width: 100%;
        min-height: 500px;
    }
    .linhaTitulo{
        width: 35%;
    }
}


@media (max-width: 1132px){
    nav, section, .textoApresentacao, .divEcreva, .projeto, .sobreMin{
        width: 950px;
    }

    .projet{
        width: 48.9%;
        min-height: 150px;
    }

    .imagemProject{
        width: 100%;
        height: 200px;
    }

    .divEcrevaC{
        width: 100%;
        min-height: 500px;
    }
}


@media (max-width: 1052px){
    nav, section, .textoApresentacao, .divEcreva, .projeto, .sobreMin{
        width: 950px;
    }

    .projet{
        width: 48.5%;
        min-height: 150px;
    }

    .imagemProject{
        width: 100%;
        height: 200px;
    }

    .divEcrevaC{
        width: 100%;
        min-height: 500px;
    }

    .logo a{
        width: 140px;
        padding: 0px 0px;
        margin-right: 0px;
    }

}


@media (max-width: 924px){
    nav, section, .textoApresentacao, .divEcreva, .projeto, .sobreMin{
        width: 850px;
    }

    .menuPortifolio{
        display: none;
    }

    .skillContainer{
        width: 95%;
    }

    .humburguer{
        display: flex;
    }
}


@media (max-width: 874px){
    nav, section, .textoApresentacao, .divEcreva, .projeto{
        width: 750px;
    }

    .divEcrevaC{
        flex-direction: column;
        min-height: 40px;

    }

    .otherCena{
        min-height: 40px;
    }

    .divEcre{
        width: 90%;
        border: 0px;
        padding: 30px!important;
        min-height: 40px;
    }

    .divEcre:last-child{
        border-top: 1px solid #ccc;
    }
}

@media (max-width: 836px){

    .skils{
        min-height: 20px;
        position: static;
        
    }
    .skillContainer{
        flex-direction: column;
        position: static;
        min-height: 340px;
        width: 90%;
        margin-top: 50px;

    }
    .skill{
        
        width: 100%;
        border: 0px;
        margin-top: 20px;
    }

    .projetos{
        margin-top: 50px;
    }

}

@media (max-width: 796px){
    nav, section, .textoApresentacao, .divEcreva, .projeto, .sobreMin{
        width: 90%;
    }
}

@media (max-width: 776px){
    .projet{
        width: 100%;
        min-height: 150px;
    }

    .imagemProject{
        width: 100%;
        height: 200px;
    }

    .divEcrevaC{
        width: 100%;
        min-height: 500px;
    }
    .linhaTitulo{
        width: 30%;
    }
}


@media (max-width: 584px){
    .arteSobre, .bolinhaC{
        display: none;
    }

    .skillContainer{

        width: 95%;

    }


    .fotoAly{
        width: 95%;
        padding: 20px;
        border-radius: 5px;
        margin-left: 20px;
    }

    .fotoAly h2 {
        margin-top: 15px;
        font-size: 1.5rem;
    }

    .justificativaJob{
        font-size: 14px;
        margin-bottom: 10px;
    }

  
}

@media (max-width: 566px){
    nav, section, .textoApresentacao, .divEcreva, .projeto, .sobreMin{
        width: 95%;
    }

    .redesEConta .redes{
        display: none!important;
    }
}

@media (max-width: 468px){
    .divEcre h2{
        font-size: 1.5rem;
    }

    
}

@media (max-width: 412px){
    .btnsContact a i{
        display: none;
    }
}